/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 20px auto;
	display: flex;
	float: center;
	z-index: 9;
	position: relative;
	background:#fff;
}

.content-area {
	float: left;
	margin: 0 auto;
	width: 100%;
}

.site-main {
	margin: 0 auto;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}
